**/.env
*.env
.env
.env*
.env.local
!.env.example
**/env

.DS_Store
.idea/
**/.idea/
.gradle/
**/.gradle/
**/build/
**/target/
**/node_modules/
**/.next/
**/.venv/
**/__pycache__/
**/*.pyc
**/volume-data/
*.jks
*.pem

services/rag-service/uploads/
services/rag-service/data/
services/rag-service/*_chunks.json
services/rag-service/*_index.faiss
