flask_cors
pandas
fitz
torch 
torchvision
faiss-cpu
nltk
transformers
blinker
certifi
charset-normalizer
click
filelock
Flask
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
openpyxl
packaging
python-dotenv
# PyMuPDF
pypdf
PyYAML
regex
requests
safetensors
tokenizers
tqdm
typing_extensions
urllib3
Werkzeug
xlrd
